<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1 class="display-2">
  Team Members of {{title}}
</h1>
<p *ngIf="datasaved" ngClass="Success">
  Record Saved Sucessfully !
</p>
<form [formGroup]='bookForm' (ngSubmit)="OnFormSubmit()">
  <table class="table">
    <tr>
      <td>Name:</td>
      <td>
        <input formControlName="name">
      </td>
    </tr>
    <tr>
      <td>Category:</td>
      <td>
        <input formControlName="category">
      </td>
    </tr>
    <tr>
      <td>College:</td>
      <td>
        <input formControlName="college">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button [disabled]="bookForm.invalid" class="btn btn-success">Submit</button>
      </td>
    </tr>
  </table>
</form>
<h1>
  View All Details
</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">College</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bk of softBook | async">
        <td scope="row">{{bk.id}}</td>
        <td scope="row">{{bk.name}}</td>
        <td scope="row">{{bk.category}}</td>
        <td scope="row">{{bk.college}}</td>
        <td><button type="button" (click)="booktoedit(bk.id)" class="btn btn-primary">Edit</button>
          <td><button type="button" (click)="bookDelete(bk.id)" class="btn btn-danger">Delete</button>
        </tr>
      </tbody>
</table>
<router-outlet></router-outlet>
